@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



@import "https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css";
@font-face{font-family:'RightGroteskWideMedium';
    src:url('../js/assets/fonts/RightGroteskWideMedium.eot');
    src:url('../js/assets/fonts/RightGroteskWideMedium.eot') format('embedded-opentype'),
    url('../js/assets/fonts/RightGroteskWideMedium.woff2') format('woff2'),
    url('../js/assets/fonts/RightGroteskWideMedium.woff') format('woff'),
    url('../js/assets/fonts/RightGroteskWideMedium.ttf') format('truetype'),
    url('../js/assets/fonts/RightGroteskWideMedium.svg#RightGroteskWideMedium') format('svg');}

@font-face {
    font-family: 'CreatoDisplayMedium';
    src: url('../js/assets/fonts/CreatoDisplayMedium.eot');
    src: url('../js/assets/fonts/CreatoDisplayMedium.eot') format('embedded-opentype'),
         url('../js/assets/fonts/CreatoDisplayMedium.woff2') format('woff2'),
         url('../js/assets/fonts/CreatoDisplayMedium.woff') format('woff'),
         url('../js/assets/fonts/CreatoDisplayMedium.ttf') format('truetype'),
         url('../js/assets/fonts/CreatoDisplayMedium.svg#CreatoDisplayMedium') format('svg');
}

@font-face {
    font-family: 'CreatoDisplayBold';
    src: url('../js/assets/fonts/CreatoDisplayBold.eot');
    src: url('../js/assets/fonts/CreatoDisplayBold.eot') format('embedded-opentype'),
         url('../js/assets/fonts/CreatoDisplayBold.woff2') format('woff2'),
         url('../js/assets/fonts/CreatoDisplayBold.woff') format('woff'),
         url('../js/assets/fonts/CreatoDisplayBold.ttf') format('truetype'),
         url('../js/assets/fonts/CreatoDisplayBold.svg#CreatoDisplayBold') format('svg');
}

.container{width:100%;max-width:1330px;margin:auto;padding:0 15px;}
.ppfont{font-family:'RightGroteskWideMedium';}
.creatodisplayM{font-family:'CreatoDisplayMedium';}
.creatodisplayB{font-family:'CreatoDisplayBold';}
.App{text-align:center;}
.App-logo{height:40vmin;pointer-events:none;}
@media (prefers-reduced-motion:no-preference){.App-logo{animation:App-logo-spin infinite 20s linear;}
}
.App-header{background-color:#282c34;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;font-size:calc(10px + 2vmin);color:white;}
.App-link{color:#61dafb;}
@keyframes App-logo-spin{from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}
.bookbtn{background:radial-gradient(188.18% 135.42% at 50% -12.5%,#FFFFFF 0%,#F61221 24.58%);color:#fff;text-align:center;padding:15px 20px;border-radius:60px;font-family:'CreatoDisplayBold';font-size:20px;display:inline-block;}
.carSlider .swiper-button-prev,.carSlider .swiper-button-next{display:none!important;}
.redbtn{background:radial-gradient(188.18% 135.42% at 50% -12.5%,#FFFFFF 0%,#F61221 24.58%); transition: all ease .3s;}
.btn:hover{background:#F61221;background:radial-gradient(188.18% 135.42% at 50% -12.5%,#FFFFFF 0%,#F61221 24.58%);color:#fff; transition: all ease .3s;}
.workbreak{word-break:break-word;}
.inspectionSlider .swiper-button-prev{width:64px;height:64px;background:#D72638;display:flex;align-items:center;justify-content:center;border-radius:60px;right:inherit;left:6px;}
.inspectionSlider .swiper-button-prev:after{color:#fff;font-size:17px;font-weight:600;}
.inspectionSlider .swiper-button-next{width:64px;height:64px;background:#D72638;display:flex;align-items:center;justify-content:center;border-radius:60px;left:inherit;right:6px;}
.inspectionSlider .swiper-button-next:after{color:#fff;font-size:17px;font-weight:600;}
.progressbar{background:linear-gradient(270deg,#F61221 0%,#900B13 100%);}
.testimonialSlider .swiper-button-prev,.testimonialSlider .swiper-button-next{width:40px;height:40px;background:#d72638d6;border-radius:60px;top:0!important;bottom:0!important;margin:auto;}

.whatsapp { position: fixed;z-index: 99; right: 0; bottom: 10px;}
.whatsapp svg { width: 80px;     color: #60d669;}
.testimonialSlider .swiper-button-next:after,.testimonialSlider .swiper-button-prev:after{font-size:15px;color:#fff;}

.carbx svg { max-width: 80%;}
.buttonLink { text-decoration: none; cursor: pointer;}
textarea{overflow:auto;scrollbar-width:none;}
textarea::-webkit-scrollbar{display:none;}
input::placeholder{color:#292929;opacity:1;}
textarea::placeholder{color:#292929;opacity:1;}


select{color:#292929;}
select option{color:#000;}
select option[disabled]{color:#292929;}
input[type="date"]{color:#292929;}
input[type="time"]{color:#292929;}
input[type="date"]:valid,input[type="time"]:valid{color:#000;}
.registerForm input::placeholder{color:#FFFFFF66;opacity:1;}
.registerForm textarea::placeholder{color:#FFFFFF66;opacity:1;}

input:-webkit-autofill{-webkit-box-shadow:0 0 0px 1000px #192735 inset !important;
 -webkit-text-fill-color:#FFFFFF66 !important;
 caret-color:#FFFFFF66;
 transition:background-color 9999s ease-in-out 0s;
 border:1px solid #ffffff29 !important;
 outline:none !important;}
/* Dark mode ke liye consistent */
 input:-webkit-autofill:focus{-webkit-box-shadow:0 0 0px 1000px #192735 inset !important;-webkit-text-fill-color:#FFFFFF66 !important;border:1px solid #f00000 !important;/* focus border (apne hisaab se change) */
 outline:none !important;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
/* Firefox ke liye */
input[type=number]{-moz-appearance:textfield;}
@media(max-width:767px){.inspectionSlider .swiper-button-prev,.inspectionSlider .swiper-button-next{width:45px;height:45px;}
.testimonialSlider .swiper-button-prev,.testimonialSlider .swiper-button-next{display:none!important;}
}


.contactForm input, .contactForm textarea {font-family:'CreatoDisplayMedium';color: #000;}
.contactForm input::placeholder{color:#9f9f9f;opacity:1;}
.contactForm textarea::placeholder{color:#9f9f9f;opacity:1;}

.registerForm input::placeholder{color:#9f9f9f;opacity:1;}
.registerForm textarea::placeholder{color:#9f9f9f;opacity:1;}
.registerForm input, .registerForm textarea {font-family:'CreatoDisplayMedium'; color: #fff;}

.inspectionForm input::placeholder{color:#9f9f9f;opacity:1;}
.inspectionForm textarea::placeholder{color:#9f9f9f;opacity:1;}
.inspectionForm input,.inspectionForm textarea{font-family:'CreatoDisplayMedium';color:#000;}

.inspectionForm select option.placeholder-option{color:#9ca3af;}
.inspectionForm select option:disabled{color:#9ca3af;}


.inspectionForm select:invalid {
    color: #9ca3af; /* placeholder grey */
  }
  

  /* Normal selected text */
  .inspectionForm select option {
    color: #192735; /* your text color */
  }
  
  /* Disabled options ka color */
  .inspectionForm select option:disabled {
    color: #9ca3af;
  }

  input[type="date"]:invalid {
    color: #9ca3af; /* placeholder जैसा grey */
  }
  
  /* जब user date चुन ले (valid state) */
  input[type="date"]:valid {
    color: #192735; /* आपका main text color */
  }
.overlaybx { background: #00000069; border-radius: 20px;}
.carbx svg { width: 100%!important; height: 600px!important;}
  @media(max-width:767px){
    .whatsapp img {
      max-width: 80px;
  }
  
  .mobileName { z-index: 9999;}
  .bookbtn {      padding: 11px 15px; font-size: 16px;}
  .overlaybx { border-radius: 10px;}
  .carbx svg { width: 100%!important; height:300px!important;}
  }